# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/

# Android
**/android/**/local.properties
**/android/.gradle/
**/android/captures/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# IDE
*.iml
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
coverage/
